{% extends 'home.html' %}
{% load static %}


{% block content %}

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg mt-120 pt-50 pb-5"
  data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2>Über unsere Geschichte</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><i class="far fa-building"></i></li>
              <li class="breadcrumb-item" aria-current="page"><i class="fas fa-building"></i></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->

<!-- about-area -->
<section class="about-area about-bg pt-120 pb-120" data-background="{% static 'img/bg/about_bg.jpg' %}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img-wrap">
          <div class="row align-items-end">
            <div class="col-sm-6">
              <div class="about-exp">
                <h2>20<span>+</span></h2>
              </div>
              <div class="about-img">
                <img src="{% static 'img/images/about_img01.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="about-img">
                <img src="{% static 'img/images/kundenbewertung.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content-wrap">
          <div class="section-title white-title mb-40">
            <span class="sub-title">mehr als 20 Jahre Erfahrung</span>
            <h2 class="title">Auto Ankauf, verkaufen, reparieren<span>.</span></h2>
          </div>
          <div class="content">
            <div class="icon">
              <img src="{% static 'img/images/m.png' %}" alt="">
            </div>
            <p>Unser seit 20 Jahren in „Bad Salzuflen“ tätiges Unternehmen arbeitet mit vielen zuverlässigen Unternehmen
              zusammen und wurde vielfach ausgezeichnet.</p>
          </div>
          <div class="about-list mb-40">
            <ul>
              <li>
                <div class="icon"><i class="fas fa-check"></i></div>
                Sometimes known dummy
              </li>
              <li>
                <div class="icon"><i class="fas fa-check"></i></div>
                Best solution for developing your business
              </li>
              <li>
                <div class="icon"><i class="fas fa-check"></i></div>
                Deserunt ad ipsum sint excepteur
              </li>
              <li>
                <div class="icon"><i class="fas fa-check"></i></div>
                Lorem sit occaecat ea proident excepteur
              </li>
            </ul>
          </div>
          <a href="/contact" class="btn">kontaktiere uns</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-area-end -->




{% endblock content %}