{% load static %}

<head>
    <style>
        table,
        th,
        td {
            border: 3px solid rgb(188, 185, 185);
            padding: 7px;
            text-align: center;
            color: rgb(254, 254, 254);
        }
    </style>
</head>


<!-- footer-area -->
<footer class="footer-bg" data-background="img/bg/footer_bg.jpg">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widget black-bg mb-50">
                        <div class="fw-title mb-30">
                            <h4 class="title">Kontakt uns</h4>
                        </div>
                        <!-- <div class="footer-text mb-45">
                            <p>There are many variations of passaes of orem ipsum available, but the majority have in some form, by ipsum
                            injected</p>
                        </div> -->
                        <div class="footer-contact">
                            <ul>
                                <li>
                                    <div class="icon"><i class="fas fa-phone"></i></div>
                                    <div class="content">
                                        <span>Telefonnummer</span>
                                        <p>{{firmaInfo.phone}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fas fa-envelope"></i></div>
                                    <div class="content">
                                        <span>{{firmaInfo.email}}</span>
                                        <p><a href="mailto:{{firmaInfo.email}}" target="_blank"><span
                                                    class="__cf_email__"
                                                    data-cfemail="91f8fff7fed1e2e4e1e1fee3e5bff2fefc">E-Mail
                                                    senden</span></a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="content">
                                        <span>Addresse</span>
                                        <p>{{firmaInfo.adresse}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer-right-wrap">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-widget mb-50">
                                    <div class="fw-title mb-30">
                                        <h4 class="title">unsere Infos</h4>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="/about">Über Uns</a></li>
                                            <li><a href="/services">Unsere Service</a></li>

                                            <li><a href="/galerie">Galerie</a></li>
                                            <li><a href="/contact">Kontakt</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-widget mb-50">
                                    <div class="fw-title mb-30">
                                        <h4 class="title">Quick Link</h4>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="https://home.mobile.de/JAFFAL-AUTOMOBILE#ses"
                                                    target="_blank">Wir in Mobil.de</a></li>
                                            <li><a href="https://www.adac.de" target="_blank">ADAC</a></li>
                                            <li><a href="https://www.kreis-lippe.de/kreis-lippe/verwaltung-und-service/buergerservice/kreisverwaltung/strassenverkehrsamt.php"
                                                    target="_blank">Straßenverkehrsamt</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- öffnungszeiten -->
                            <div>
                                <div id="openingHours"
                                    style="background-color: white; text-align: center;font-weight: 900;"></div>

                                <table>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Öffnungszeiten</th>
                                    </tr>
                                    {% for item in openHours %}
                                    <tr>
                                        <td id="{{item.day}}">{{item.day}}</td>
                                        <td>{{item.hours}}</td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-6">
                                <div class="footer-widget mb-50">
                                    <!-- <div class="fw-title mb-30">
                                        <h4 class="title">Subscribe Us</h4>
                                    </div>
                                    <div class="footer-newsletter">
                                        <form action="#">
                                            <input type="email" placeholder="Your Mail...">
                                            <button><i class="fas fa-angle-double-right"></i></button>
                                        </form>
                                    </div> -->
                                    <div class="footer-social">
                                        <ul>
                                            <li><a href="{{firmaInfo.facebookLink}}" target="_blank"><i
                                                        class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{{firmaInfo.twitterLink}}" target="_blank"><i
                                                        class="fab fa-twitter"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer-payment-method-wrap">
                            <div class="content">
                                <p>We know that honesty and transparency friendly customer service</p>
                            </div>
                            <div class="payment-card">
                                <img src="img/images/payment_card.png" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="copyright-text">
                        <p>Copyright © 2023. All rights reserved</p>
                        <a href="https://www.linkedin.com/in/mesuttepebas/" target="_blank"> WebMaster & Mesut</a>

                    </div>
                </div>
                <div class="col-md-4">
                    <button class="scroll-top scroll-to-target" data-target="html">
                        <i class="fas fa-angle-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->